/*COMMON*/
/* line 3, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
ul, ol {
  list-style: none;
  padding: 0;
}

/*HEADER*/
/* line 6, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
header {
  position: relative;
  z-index: 5;
}

/* line 11, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.navbar-nav > li {
  padding: 0 25px;
}

/* line 15, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.navbar-form {
  border-color: #101010;
  text-align: right;
  float: none !important;
}

/* line 21, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.navbar-inverse {
  border: none;
  background: rgba(250, 250, 250, 0.5) none repeat scroll 0% 0%;
  position: fixed;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 5;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* line 33, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.fixed {
  -webkit-box-shadow: 4px 0 30px 5px black;
  -moz-box-shadow: 4px 0 30px 5px black;
  box-shadow: 4px 0 30px 5px black;
  background: rgba(0, 0, 0, 0.8);
}

/* line 40, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #8E7D40;
  text-transform: uppercase;
}

/* line 45, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.navbar-inverse .navbar-nav > li:hover a {
  color: #F18500;
}

/* line 49, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
  color: #ded522;
}

/* line 58, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.intro-text .intro-heading {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  color: #ded522;
}

/* line 68, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
#dowm {
  padding: 20px 40px;
  border-color: #FFCC00;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #FFCC00;
  text-decoration: none;
}

/* line 81, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
#dowm:hover {
  text-decoration: none;
  border-color: #f6bf01;
  background-color: #fec503;
}

/*CONTENT*/
/* line 88, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.content {
  padding-top: 15px;
}

/* line 92, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.c-main {
  background: #FDFDFD;
  box-shadow: 0px 0px 4px 1px #dbdbdb;
  padding: 0 10px;
}

/* line 98, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.c-title {
  border-bottom: 1px solid #eeeeee;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

/* line 105, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.top-rest ul {
  list-style: none;
}

/* line 109, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.top-rest li {
  padding: 8px;
  border-top: 1px solid #ddd;
}

/* line 114, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.top-rest div {
  display: inline-block;
}

/* line 118, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.star {
  width: 80px;
  height: 16px;
  background: url(../img/star-off.png);
  float: right;
}

/* line 125, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.rating {
  float: right;
  margin-left: 25px;
}

/* line 130, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.restaurant {
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
}

/* line 135, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.r-name {
  margin-top: 0;
}

/*FOOTER*/
/* line 140, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.footer {
  padding: 25px 0;
  text-align: center;
  background: #FDFDFD;
  box-shadow: 0px 0px 4px 1px #dbdbdb;
  margin-top: 1%;
  background: transparent;
}

/* line 149, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
}

/*VIDEO*/
/* line 158, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.intro-text {
  position: relative;
  text-align: center;
}

/* line 163, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.txt-block {
  position: absolute;
  top: 21%;
  right: 0;
  left: 0;
  display: block;
}

/* line 171, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
.bgvideo {
  position: relative;
  margin-top: -20px;
  width: 100%;
  z-index: -9999;
}

/*MEDIA QUIRIES*/
@media only screen and (max-width: 992px) {
  /* line 180, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
  .intro-text .intro-lead-in {
    font-size: 30px;
  }

  /* line 184, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
  .intro-text .intro-heading {
    font-size: 62px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 190, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
  .intro-text .intro-lead-in {
    font-size: 23px;
    margin-bottom: 0;
  }

  /* line 195, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
  .intro-text .intro-heading {
    font-size: 48px;
    margin-bottom: 28px;
  }

  /* line 200, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
  #dowm {
    padding: 17px 32px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 206, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
  .intro-text .intro-lead-in {
    font-size: 15px;
    line-height: 49px;
  }

  /* line 211, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
  .intro-text .intro-heading {
    font-size: 25px;
    line-height: 7px;
  }

  /* line 216, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
  #dowm {
    padding: 9px 20px;
    font-size: 17px;
  }

  /* line 221, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
  .navbar.navbar-inverse.navbar-fixed-top {
    min-height: 35px;
  }

  /* line 225, /home/sergey/Documents/restrevproject/app/assets/stylesheets/mainpage.scss */
  button.navbar-toggle.collapsed {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
