/*COMMON*/
/* line 3, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
ul, ol {
  list-style: none;
  padding: 0;
}

/* line 5, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
html {
  padding-bottom: 0;
}

/* line 9, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
body {
  overflow-x: hidden;
}

/*HEADER*/
/* line 14, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
header {
  position: relative;
  z-index: 5;
}

/* line 19, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.navbar-nav > li {
  padding: 0 25px;
}

/* line 23, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.navbar-form {
  border-color: #101010;
  text-align: right;
  float: none !important;
}

/* line 29, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.navbar-inverse {
  border: none;
  background: rgba(250, 250, 250, 0.5) none repeat scroll 0% 0%;
  position: fixed;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 5;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

/* line 41, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.fixed {
  -webkit-box-shadow: 4px 0 30px 5px black;
  -moz-box-shadow: 4px 0 30px 5px black;
  box-shadow: 4px 0 30px 5px black;
  background: rgba(0, 0, 0, 0.8);
}

/* line 48, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #4E0922;
  text-transform: uppercase;
}

/* line 53, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.navbar-inverse .navbar-nav > li a:hover {
  color: #FFE200;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
}

/* line 59, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
  color: #FFD600;
  text-shadow: 0 1px 3px black;
}

/* line 69, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.intro-text .intro-heading {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  color: #FFD600;
  text-shadow: 0 1px 3px black;
}

/* line 80, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
#dowm {
  display: inline-block;
  padding: 20px 40px;
  border-color: #FFCC00;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #FFCC00;
  text-decoration: none;
}

/* line 94, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
#dowm:hover {
  text-decoration: none;
  border-color: #f6bf01;
  background-color: #FFD64B;
}

/* line 100, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
#mp-bg {
  background-image: url(/assets/res-35b91c0f06739c4030bd1a680ed09432d0fb146dc627e68d7b5f854adf346a99.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: none;
  width: 100%;
}

/*CONTENT*/
/* line 113, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.content {
  padding-top: 59px;
}

/* line 117, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.c-main {
  background: #fff;
  padding: 0 10px;
}

/* line 122, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.c-title {
  border-bottom: 1px solid #eee;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

/* line 129, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.top-rest ul {
  list-style: none;
}

/* line 133, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.top-rest li {
  padding: 8px;
  border-top: 1px solid #ddd;
}

/* line 138, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.top-rest div {
  display: inline-block;
}

/* line 142, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.top10 .table > tbody > tr {
  -webkit-transition: all .13s ease-in-out;
  -moz-transition: all .13s ease-in-out;
  -ms-transition: all .13s ease-in-out;
  -o-transition: all .13s ease-in-out;
  transition: all .13s ease-in-out;
}

/* line 150, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.top10 .table > tbody > tr:hover {
  background: #eee;
}

/* line 154, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
td.rest-name {
  padding: 0 !important;
}

/* line 158, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
td.rest-name a {
  display: block;
  min-height: 39px;
  line-height: 39px;
}

/* line 164, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.restaurant {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  margin-bottom: 5px;
  -webkit-transition: all .13s ease-in-out;
  -moz-transition: all .13s ease-in-out;
  -ms-transition: all .13s ease-in-out;
  -o-transition: all .13s ease-in-out;
  transition: all .13s ease-in-out;
}

/* line 175, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.restaurant:hover {
  background: #eee;
}

/* line 179, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.restaurant .img-responsive {
  display: block;
  max-width: 360px;
  height: 250px;
  width: 100%;
}

/* line 186, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.restaurant p {
  text-align: justify;
}

/* line 190, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.restaurant .adress {
  display: inline-block;
  text-align: left;
  width: 100%;
  float: right;
}

/* line 197, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.restaurant .info {
  display: inline-block;
  float: right;
  width: 100%;
}

/* line 203, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.star {
  width: 105px;
  height: 16px;
  float: right;
}

/* line 209, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.rating {
  float: right;
  margin-left: 25px;
  width: 105px;
}

/* line 215, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.restaurant .rating {
  margin-top: 18px;
}

/* line 219, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.r-name {
  margin-top: 0;
}

/*FOOTER*/
/* line 224, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.footer {
  padding: 25px 0;
  text-align: center;
  background: #eee;
  box-shadow: 0px 0px 4px 1px #dbdbdb;
  position: relative;
}

/* line 232, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.footer span.copyright {
  text-transform: uppercase;
  text-transform: none;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
}

/*VIDEO*/
/* line 241, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.intro-text {
  position: relative;
  text-align: center;
}

/* line 246, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.txt-block {
  position: absolute;
  top: 31%;
  right: 0;
  left: 0;
  display: block;
}

/* line 254, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
.bgvideo {
  position: relative;
  margin-top: -20px;
  width: 100%;
  z-index: -9999;
}

/*MEDIA QUIRIES*/
@media only screen and (max-width: 992px) {
  /* line 264, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  body {
    background-image: none;
  }

  /* line 268, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  .navbar-nav > li {
    padding: 0;
  }

  /* line 272, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  .intro-text {
    display: block;
  }

  /* line 276, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  .intro-text .intro-lead-in {
    font-size: 30px;
  }

  /* line 280, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  .intro-text .intro-heading {
    font-size: 62px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 287, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  .navbar-inverse .navbar-nav > li > a {
    color: #fff;
  }

  /* line 291, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  .form-control {
    margin-bottom: 10px;
  }

  /* line 295, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  #dowm {
    padding: 17px 32px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 302, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  h2 {
    font-size: 25px;
  }

  /* line 306, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  .intro-text .intro-lead-in {
    font-size: 23px;
    line-height: 20px;
  }

  /* line 311, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  .intro-text .intro-heading {
    font-size: 43px;
    margin-bottom: 14px;
  }

  /* line 316, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  .navbar-inverse {
    height: 44px;
  }

  /* line 320, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  button.navbar-toggle.collapsed {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  /* line 325, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  #content {
    padding-top: 30px;
  }

  /* line 329, /root/DataArtProject/app/assets/stylesheets/mainpage.scss */
  .top-rest .rating {
    margin-left: -108px;
    padding-top: 32px !important;
  }
}
