/* line 1, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
body {
  background: #fff;
}

/* line 5, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.res-review {
  padding-bottom: 20px;
}

/* line 9, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.rcc-info {
  float: right;
}

/* line 13, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.categ {
  font-size: 17px;
}

/* line 17, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.cat-title {
  display: inline-block;
  width: 120px;
  float: left;
  margin-right: 9%;
}

/* line 24, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.cat-info {
  display: inline-block;
}

/* line 28, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.total-sum {
  margin: 20px 0;
}

/* line 32, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.rrd-date {
  font-size: 19px;
  font-style: italic;
  margin-bottom: 10px;
  text-decoration: underline;
}

/* line 39, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.rrd-txt {
  font-size: 17px;
}

/***********************MEDIA QUERIES********************/
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 50, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
  #map {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 575px) {
  /* line 56, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
  .res-review {
    padding-bottom: 120px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 63, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
  .rcc-info {
    float: none;
  }
}
