/* line 1, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.rcc-info {
  float: right;
}

/* line 5, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.cat-title {
  display: inline-block;
  width: 102px;
  float: left;
  margin-right: 9%;
}

/* line 12, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.cat-info {
  display: inline-block;
}

/* line 16, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
.total-sum {
  margin: 20px 0;
}

/***********************MEDIA QUERIES********************/
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 27, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
  #map {
    margin: 20px 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 34, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
  #map {
    display: none;
  }

  /* line 38, /root/DataArtProject/app/assets/stylesheets/reviews.scss */
  .rcc-info {
    float: none;
  }
}
