@import "bootstrap-sprockets";
@import "bootstrap";
@import 'slimbox2';

#map {
	height: 400px;
	background-color: #CCC;
}

.alert {
	display: none;
}

.notice {
	display: none;
}

.footer {
	padding: 25px 0;
	text-align: center;
	background: #FDFDFD;
	box-shadow: 0px 0px 4px 1px #dbdbdb;
	margin-top: 1%;
	background: transparent;
}

.footer span.copyright {
	text-transform: uppercase;
	text-transform: none;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 40px;
}


/*COMMON*/
ul, ol {list-style: none; padding: 0;}

html {
	position: relative;
	min-height: 100%;
	padding-bottom: 90px;
}

body {
	overflow-x: hidden;
	background: #eee;
}

/*HEADER*/
header {
	position: relative;
	z-index: 5;
}

.navbar-nav > li {
	padding: 0 25px;
}

.navbar-form {
	border-color: #101010;
	text-align: right;
	float: none !important;
}

.navbar-inverse {
	border: none;
	background: rgba(250, 250, 250, 0.5) none repeat scroll 0% 0%;
	position: fixed;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	width: 100%;
	z-index: 5;
	-webkit-transition: all .5s ease-in-out;
		 -moz-transition: all .5s ease-in-out;
					transition: all .5s ease-in-out;
}

.fixed {
	-webkit-box-shadow: 4px 0 30px 5px rgba(0,0,0,1.0);
		 -moz-box-shadow: 4px 0 30px 5px rgba(0,0,0,1.0);
					box-shadow: 4px 0 30px 5px rgba(0,0,0,1.0);
	background: rgba(0, 0, 0, 0.8);
}

.navbar-inverse .navbar-nav > li > a {
	color: #4E0922;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li a:hover,
.navbar-inverse .navbar-nav > li a:focus {
	color: #FFE200;
	background-color: transparent;
	font-size: 18px;
	transition: all 0.1s ease-in-out;
}

.intro-text {
	position: absolute;
	top: 0;
	left: 0;
}

.intro-text .intro-lead-in {
	margin-bottom: 25px;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 40px;
	font-style: italic;
	line-height: 40px;
	color: rgb(222, 213, 34);
}

.intro-text .intro-heading {
	margin-bottom: 50px;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 75px;
	font-weight: 700;
	line-height: 75px;
	color: rgb(222, 213, 34);
}

#dowm {
	padding: 20px 40px;
	border-color: #FFCC00;
	border-radius: 3px;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	background-color: #FFCC00;
	text-decoration: none;
}

#dowm:hover {
	text-decoration: none;
	border-color: #f6bf01;
	background-color: #fec503;
}

/*CONTENT*/
.content {
	padding-top: 59px;
}

.c-main {
	background: #FDFDFD;
	box-shadow: 0px 0px 4px 1px #dbdbdb;
	padding: 0 10px;
}

.c-title {
	border-bottom: 1px solid #eeeeee;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

#map {
	margin-bottom: 20px;
}

.top-rest ul {
	list-style: none;
}

.top-rest li {
	padding: 8px;
	border-top: 1px solid #ddd;
}

.top-rest div {
	display: inline-block;
}

.restaurant {
	border-bottom: 1px solid #eeeeee;
	padding: 15px 0;
}

.star {
	width: 105px;
	height: 16px;
	background: url(../images/star-off.png);
	float: right;
}

.rating {
	float: right;
	margin-left: 25px;
	width: 105px;
}

.restaurant .rating {
	margin-top: 18px;
}

.r-name {
	margin-top: 0;
}

/*FOOTER*/
.footer {
	padding: 25px 0;
	text-align: center;
	background: #FDFDFD;
	box-shadow: 0px 0px 4px 1px #dbdbdb;
	background: #eee;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.footer span.copyright {
	text-transform: uppercase;
	text-transform: none;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 40px;
}

/*VIDEO*/

.bgvideo {
	position: relative;
	margin-top: -20px;
	width: 100%;
	z-index: -9999;
}

/*MEDIA QUIRIES*/
@media only screen and (max-width : 992px) {
	.navbar-nav>li {
		padding: 0;
	}

	.intro-text .intro-lead-in {
		font-size: 30px;
	}

	.intro-text .intro-heading {
		font-size: 62px;
	}
}

@media only screen and (max-width : 768px) {

	.navbar-inverse .navbar-collapse {
		background: rgba(60, 57, 57, 0.93);
	}

	.navbar-inverse .navbar-nav>li>a {
		color: #fff;
	}

	.form-control {
		margin-bottom: 10px;
	}

	.intro-text .intro-lead-in {
		font-size: 23px;
		margin-bottom: 0;
	}

	.intro-text .intro-heading {
		font-size: 48px;
		margin-bottom: 28px;
	}

	#dowm {
		padding: 17px 32px;
	}
}

@media only screen and (max-width : 480px) {
	h2 {
		font-size: 25px;
	}

	.intro-text .intro-lead-in {
		font-size: 15px;
		line-height: 49px;
	}

	.intro-text .intro-heading {
		font-size: 25px;
		line-height: 7px;
	}


	.navbar.navbar-inverse.navbar-fixed-top {
		min-height: 35px;
	}

	button.navbar-toggle.collapsed {
		margin-top: 3px;
		margin-bottom: 3px;
	}
}


/*ADMIN*/


.sign-up {
	-webkit-box-shadow:inset 0px 0px 9px #000000;
		 -moz-box-shadow:inset 0px 0px 9px #000000;
					box-shadow:inset 0px 0px 9px #000000;
	-webkit-border-radius: 7px;
		 -moz-border-radius: 7px;
			 -o-border-radius: 7px;
					border-radius: 7px;
	max-width: 517px;
	width: 58%;
	border: 1px solid #c7c7c7;
	padding: 10px;
	text-align: center;
	margin: 132px auto 0;
	background: rgba(238, 238, 238, 0.71);
	position: relative;
}

.checkbox label {
	padding-left: 0;
}

@media only screen and (max-width : 900px) {

	body {
		background-image: url(/assets/res-35b91c0f06739c4030bd1a680ed09432d0fb146dc627e68d7b5f854adf346a99.jpg);
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.intro-text {
		display: none;
	}
}

/*NEW REVIEW*/

.block-title {
	text-align: center;
	margin: -15px 0 15px;
	color: #ded522;
}

.review-form {
	background: rgba(238, 238, 238, 0.71);
	-webkit-box-shadow:inset 0px 0px 9px #000000;
		 -moz-box-shadow:inset 0px 0px 9px #000000;
					box-shadow:inset 0px 0px 9px #000000;
	-webkit-border-radius: 7px;
		 -moz-border-radius: 7px;
			 -o-border-radius: 7px;
					border-radius: 7px;
	width: 90%;
	border: 1px solid #c7c7c7;
	padding: 10px;
	text-align: left;
	margin: 0 auto 48px;
}

.nr-map {
	float: right;
}

.nr-inp {
	float: left;
}

@media only screen and (max-width : 768px) {
	.nr-map,
	.nr-inp {
		float: none;
	}
}