body {
	background: #fff;
}

.res-review {
	padding-bottom: 20px;
}

.rcc-info {
	float: right;
}

.categ {
	font-size: 17px;
}

.cat-title {
	display: inline-block;
	width: 120px;
	float: left;
	margin-right: 9%;
}

.cat-info {
	display: inline-block;
}

.total-sum {
	margin: 20px 0;
}

.rrd-date {
	font-size: 19px;
	font-style: italic;
	margin-bottom: 10px;
	text-decoration: underline;
}

.rrd-txt {
	font-size: 17px;
}




/***********************MEDIA QUERIES********************/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#map {
		margin: 20px 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.rcc-info {
		float: none;
	}
}