<h1 class="block-title">Новая рецензия</h1>
<div class="intro-text">
	<%= video_tag ["header.webm", "header.mp4", "header.ogv"], poster: "res.jpg", loop: 'true', autoplay: 'true', class: 'bgvideo', id: 'bgvideo' %>
</div>
<%= render 'form' %>
<%= link_to 'Назад', root_path %> 
